body {
  background: linear-gradient(116.6deg, #ff889b 0%, #fc136b 98%);
  display: flex;
}

.navbar {
  position: absolute;
  width: 1320px;
  height: 92px;
  left: 60px;
  top: 31px;

  background: var(--color-white);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.navbar > .logo {
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.nav-links > ul > li {
  display: inline-block;
  margin: 0 20px;
}

.nav-links > ul > li > a {
  font-family: var(--font-nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-crimson);

  /* position: absolute;
width: 120px;
height: 33px;
left: 713px;
top: 60px;

font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px; */
}

/* .nav-links > ul > li > a:hover {
  color: var(--color-white);
} */

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.02762px 33px;
  gap: 14.06px;
  width: 153px;
  height: 47.06px;
  left: 1005px;
  top: 53px;
  border-radius: 5.27072px;
  /* overflow: hidden; */
}

.btn1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.02762px 33px;
  gap: 14.06px;
  width: 163px;
  height: 47.06px;
  left: 1005px;
  top: 53px;
  background: var(--color-white);
  border: 2px solid #fc136b;
  border-radius: 5.27072px;
}

.btn1 > a {
  /* Sign Up */

  width: 203px;
  height: 33px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #fc136b;

  /* Inside auto layout */

  display: flex;
  -family: var(--font-nunito);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-crimson);
}

/* .btn1:hover {
  background: var(--color-crimson);
}

.btn1:hover > a {
  color: var(--color-white);
} */

.btn2 {
  width: 123px;
  background: var(--color-crimson);
  cursor: pointer;
}

.btn2 > a {
  width: 103px;
  height: 33px;
  color: var(--color-white);
}

/* .btn2:hover {
  background: var(--color-white);
}

.btn2:hover > a {
  color: var(--color-crimson);
} */

.hero {
  position: absolute;
  top: 100px;
  left: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img > img {
  /* width: 100%; */
  height: 650px;
  position: absolute;
  top: 10px;
  left: -10px;
}

.container {
  position: relative;
  height: 530px;
  width: 530px;
  top: 45px;
  left: 50px;
  background: white;
  /* display: flex; */
}

.container > h1 {
  position: relative;
  top: 50px;
  margin-bottom: 2.75rem;
  margin-top: -1.875rem;
  color: #000;
}

.form-wrapper {
  margin: 0 auto;
  margin-top: 10.4rem;
}

.login-form-bd {
  background: #316498;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.form-container {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  background: #1b1a1a;
  padding: 5rem 2.5rem;
  border-radius: 0.313rem;
  margin: 5rem 28.125rem;
  box-shadow: 3px 0.25rem 1.25rem rgba(27, 27, 27, 0.2);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 2.75rem;
  margin-top: -1.875rem;
  color: #ffff;
  font-weight: normal;
  font-size: 2rem;
}

.form-container a {
  text-decoration: none;
  color: #e2dc20;
}

.login-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #e2dc20;
  padding: 0.938rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.563rem;
  color: #0d0f42;
  border: 0;
  border-radius: 0.313rem;
  margin-bottom: 1.25rem;
}

.login-btn:focus {
  outline: 0;
}

.login-btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 0.938rem;
}

.form-control {
  position: relative;
  margin: 1.25rem 0 2.5rem;
}

.form-control input {
  background: transparent;
  border: 0;
  border-bottom: 1px #fff solid;
  display: block;
  width: 100%;
  padding: 1.25rem 0;
  font-size: 1.125rem;
  color: #fff;
}

.form-control input:focus {
  outline: 0;
  border-bottom-color: #c2c25a;
}

.form-control label {
  position: absolute;
  top: 0.938rem;
  left: 10;
}

.form-control label span {
  display: inline-block;
  font-size: 1.125rem;
  min-width: 0.313rem;
  transition: 0.3s cubic-bezier(0.53, 0.246, 0.265, 1.66);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #c2c25a;
  transform: translateY(-1.875rem);
}
